<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\internal-nlog.txt">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Web.AspNetCore.Targets.Gelf"/>
  </extensions>
  <targets>
    <target xsi:type="File" name="debugFile" filename="C:\@Logs\${shortdate}-${level}-${applicationName}.txt" layout="${longdate}|${level:upperCase=true}|${logger}|${aspnet-Request-Method}|url: ${aspnet-Request-Url}${aspnet-Request-QueryString}|${message}" concurrentWrites="false" />
    <target xsi:type="Gelf" name="graylog" endpoint="udp://192.168.99.100:12201" facility="console-runner" sendLastFormatParameter="true" gelfVersion="1.1" />
    <target xsi:type="Gelf" name="graylog" endpoint="tcp://192.168.99.100:12201" ignoreTlsErrors="false" useTls="true" facility="console-runner" sendLastFormatParameter="true" gelfVersion="1.1" />
    <target xsi:type="Gelf" name="graylog" endpoint="tcp://192.168.99.100:12201" ignoreTlsErrors="false" useTls="true" facility="console-runner" sendLastFormatParameter="true" gelfVersion="1.1" clientCertificate="file:cert.pfx" />
    <target xsi:type="Gelf" name="graylog" endpoint="tcp://192.168.99.100:12201" ignoreTlsErrors="false" useTls="true" facility="console-runner" sendLastFormatParameter="true" gelfVersion="1.1" clientCertificate="base64:{pfx base64}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="debugFile, graylog" />
  </rules>
</nlog>